<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "cl.alexvilla.teambuilder"
        version     = "1.1.0">
 
    <name>Team Builder</name>
 
    <description>
        Pairs Team Builder
    </description>
 
    <author href="http://alexvilla.cl" email="alex.villa.v@gmail.com">
        Alex Villa
    </author>
</widget>